%h1= @movie.title
.jumbotron
  = @movie.description
.text-center
  .rating
    Rating:
    .badge
      = @movie.rating
    %br
.plot.well
  = @movie.plot
.text-center
  - if @movie.poster
    = image_tag @movie.poster_url, alt: @movie.title + " poster", class: 'poster'
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
