<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% unless comment.is_deleted? %>
  <div id="comment_<%= comment.id.to_s %>_div" class="comment">
    <div id="comment_<%= comment.id.to_s %>_top_div" class="comment_div">
      <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions">
        <%= render partial: 'commontator/comments/actions',
                   locals: { comment: comment,
                                user: user } %>
      </span>
    </div>
    <div id="comment_<%= comment.id.to_s %>_middle_div" class="comment_div">
      <div id="comment_<%= comment.id.to_s %>_body_div" class="comment_body">
        <%= render partial: 'commontator/comments/body',
                   locals: { comment: comment } %>
      </div>
    </div>
  </div>
<% end %>
